.Navbar {
  display: block;
  margin: 0;
  padding: 0;
  background-color:#333;
}
.Navbar a {
  display: inline-block;
  text-decoration: none;
  padding: 1.5em;
  margin:0;
  transition: background-color .1s linear;
}
.Navbar span {
  font-size: 2em;
  text-decoration: none;
  color: white;
}
.Navbar a.active {background-color:#292;}
.Navbar a:hover {background-color:#4f4;}
.Navbar #contactNavButton {float:right;}