.numberInput {
  width: 2em;
  font-size: 30px;
  transition: opacity .2s linear;
}
.rangeInput {
  height:64px; /*big to catch the thumb easily */
  width: 100%;
  margin:-16px 0; /* smaller vertical space usage*/
  -webkit-appearance: none;
  background-color:rgba(0,0,0,0);
}
.rangeInput:focus {outline: none;} /* to hide rectangle when in focus */
.rangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  background-color: #888;
  vertical-align: middle;
}
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url('../img/sliderThumb.svg');
  height: 32px;
  width: 32px;
  margin-top:-16px;    /*move up to the middle */
  transition: all .2s linear;
}
.rangeInput:hover::-webkit-slider-thumb {
  background-image: url('../img/sliderThumbSelected.svg');
}

.voice-name {font-size:25px; margin-right: 7px;}
.voice-lan {font-size:25px; color:DarkGrey; transition:inherit;}

.voiceList > li:hover > span > .voice-lan {color:black;}
.voiceList > li:before                  {background-image: url('../img/radio.svg');}
.voiceList > li.selected:before         {background-image: url('../img/radioSelected.svg');}
.voiceList > li.selected.loading:before {background-image: url('../img/radioSelectedLoading.svg');}