:host {
    display: block;
    margin: 0;
    padding: 0;
    background-color:#333;
}
:host a {
    display: inline-block;
    text-decoration: none;
    padding: 1.5em;
    margin:0;
    transition: background-color .1s linear;
}
:host span {
    font-size: 2em;
    text-decoration: none;
    color: white;
}
:host a.active {background-color:#292;}
:host a:hover {background-color:#4f4;}
#contactNavButton {float:right;}