body {
  margin: 0;
  font-family: sans-serif;
  background-color:#aaa;
  overflow-y: scroll;
}


/* ===================================== settings =====================================*/
.hoverable {transition: background-color .2s linear;}
.hoverable:hover {background-color:#f0fff0;}
.setting {
  /* background-color: hides flash when changing to reading settings
   * flash: the time needed to get the list of tts */
  background-color: white;
  font-size: 30px;
  padding: 1em;
  border-bottom: 1px solid gray;
}
.setting > div {transition: color .2s linear;}    /* the transition of the setting titles (when they become unavailable) */
.setting > a {
  font-size: 17px;
  margin: 4px 0;
  transition: color,background-color .2s;
}
.setting > a:hover {
  color:black;
  background-color:#4f4
}
.content {
  position: absolute; /* overlapping while animation */
  width: 80em;
}
.fade-enter-active, .fade-leave-active {transition: opacity .2s;}
.fade-enter, .fade-leave-to {opacity: 0;}

/* ===================================== choiceList =====================================*/
.choiceList {list-style: none;margin: 0;}

/* animation for loading: the loading icon rotates behind the option */
.choiceList > .loading:after {
  margin-right: 0;
  background-size: .7em;
  width: .7em;
  height: .7em;
  content: "";
  display: inline-block; /*http://stackoverflow.com/questions/8959701/using-background-image-in-after-psuedo-class*/
  background-image: url('img/radioLoading.svg');
  animation:rotate 2s linear infinite;
}
@keyframes rotate { 100% { transform: rotate(360deg); } }

/** placeholder for the image before options (empty|filled circle|square) */
.choiceList > :before {
  margin-right: 0;
  background-size: .7em;
  width: .7em;
  height: .7em;
  content: "";
  display: inline-block; /*http://stackoverflow.com/questions/8959701/using-background-image-in-after-psuedo-class*/
  /*-webkit-transition: background-image .2s linear; TODO size changes while transition*/
  transition: opacity .2s linear;
}

/* change color of-, and remove the image from before the options of unavailable settings*/
.setting.unavailable {color: grey;}    /* all text in unavailable setting is grey */
.setting.unavailable > .choiceList > * {pointer-events:none;}
.setting.unavailable > .choiceList > :before {opacity: 0;}

/** option elements are in spans in lis: li takes the whole width of the page, but we only want to have the text highlighted
* we also set animation on text color and background color (by using all)*/
.choiceList > li > span {margin:0 0.2em; border-radius: 0.4em; transition: all .2s linear;}
.choiceList > li:hover > span             {background-color:#4f4}
.choiceList > li.loading > span           {color:grey;}
.choiceList > li.unavailable > span       {color:grey;}
.choiceList > li.loading:hover > span     {background-color:#ccc;}
.choiceList > li.unavailable:hover > span {background-color:#ccc}
.choiceList > li.unavailable:before       {opacity: 0;} /* set opacity for the animation */

/*unavailable settings options are not highlighted*/
.setting.unavailable > .choiceList > li > span {background-color:inherit;}