<!-- ng-csp needed for google-chrome: eval is not used in that case TODO check -->
<html ng-app="optionsApp" ng-csp lang="en">
	<div id="panel">
		<h1>Options</h1>
		<h2 class="optionsPageSelector hoverable">general</h2>
		<img src="../img/optionsLogo.svg"/>
	</div>
	<div id="content">
		<div class="control hoverable" ng-controller="selectEventOptionsController">
			<div>Selection</div>
			<ul class="choiceList singleChoiceList">
				<li ng-repeat="option in selectEventOptions" ng-class="{selected: option.selected}" ng-click="onClick(option)" data-value="{{option.value}}">
					<span>{{option.text}}</span>
				</li>
			</ul>
		</div>
		<div class="control hoverable" ng-controller="readEventOptionsController">
			<div>Read Event</div>
			<ul class="choiceList multipleChoiceList">
				<li ng-repeat="option in readEventOptions" ng-class="{selected: option.selected}" ng-click="onClick(option)" data-value="{{option.value}}">
					<span>{{option.text}}</span>
				</li>
			</ul>
		</div>
		<div class="control hoverable" ng-controller="speedRangeController">
			<div>Speed of Speech</div>
			<input class="numberInput" type="number" min="{{speed.min}}" max="{{speed.max}}" step="{{speed.step}}" ng-model="speed.value" />
			<input class="rangeInput" type="range" min="{{speed.min}}" max="{{speed.max}}" step="{{speed.step}}" ng-model="speed.value" />
		</div>
		<div class="control hoverable" ng-controller="ttsServiceChooserController">
			<div>Service</div>
			<ul class="choiceList singleChoiceList">
				<li ng-repeat="service in services">
					<span>{{service}}</span>
				</li>
			</ul>
		</div>
	</div>
	
	<!-- <div id="keySelectorWindow">
		<h1>Press the key that will start reading</h1>
		<div>press esc to cancel</div>
	<div> -->

	<link rel="stylesheet" type="text/css" href="../css/options.css">
	<script src="../js/lib/angular-1.3.11.min.js"></script>
	<script src="../js/chrome/options.js"></script>
</html>