body {
	margin: 0;
	font-family: sans-serif;
}

/* ===================================== left panel settings =====================================*/

#panel {
	height: 100%;
	background: -webkit-linear-gradient(left, #f8f8f8, #f8f8f8 98%, #aaa);
	float: left;
	margin: 0 10px 0 0;
	border-right: 1px solid gray;
}

#panel h1 {
	font-size: 25px;
	margin: 0.5em;
}

.optionsPageSelector {
	background-color: #fbfbfb;
	padding: 0.5em 1em;
	margin: 2px 0;
	text-align: right;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.optionsPageSelector.active {
	background-color: #dfd;
	/*background: -webkit-linear-gradient(left, #afa, #fff);*/
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.optionsPageSelector:hover {
	background-color: #4f4;
}

/* ===================================== hoverable and clickable =====================================*/

/* adds a light highlight when pointer hovers over these elements*/
.hoverable:hover {
	background: none;	/*TODO set bakcground for selected selector */
	background-color:#f0fff0;
}

/* ===================================== content settings =====================================*/

#content {
	/* the content shouldn't flow under the left panel */
	/* http://colinaarts.com/articles/the-magic-of-overflow-hidden/#making-room-for-floats */
	overflow:hidden;
}

.control {
	font-size: 30px;
	padding: 1em;
	border-bottom: 1px solid gray;
}

/* ===================================== speed settings =====================================*/

.numberInput {
	width: 2em;
	font-size: 30px;
}
.rangeInput {
	width: 100%;
	-webkit-appearance: none;
	border-radius: 1px;
	background-color: #888;
	height: 3px;
	vertical-align: middle;
}

.rangeInput::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #fff;	/* so transparents parts of the image are white */
	background-image: url('img/unselectedSingleOption.svg');
	background-size: contain;
	height: 32px;
	width: 32px;
}

.rangeInput:hover::-webkit-slider-thumb {
	/*background-color: #0f0;*/
	background-image: url('img/selectedSingleOption.svg');
}

/* ===================================== start event settings =====================================*/
.choiceList {
	list-style: none;
	margin: 0;
}

.choiceList > :before {
	/** placeholder for the option checked image */
	margin-right: 0;
    background-size: .7em;
	width: .7em;
	height: .7em;
    content: "";
	display: inline-block;	/*http://stackoverflow.com/questions/8959701/using-background-image-in-after-psuedo-class*/
}

.singleChoiceList > :before				{background-image: url('img/unselectedSingleOption.svg');}
.singleChoiceList > .selected:before	{background-image: url('img/selectedSingleOption.svg');}

.multipleChoiceList > :before			{background-image: url('img/unselectedMultipleOption.svg');}
.multipleChoiceList > .selected:before	{background-image: url('img/selectedMultipleOption.svg');}

/** option elements are in spans in lis: li takes the whole width of the page, but we only want to have the text highlighted*/
.choiceList > li:hover > * {
	background-color:#4f4;
	border-radius: 0.4em;	/*the highlighted area has rounded corners this way*/
}

/** only visible when keyboard readEvent is selected */
#keySelectorWindow {
	position:fixed;
	background-color:white;
	border: 1px solid black;
	text-align: center;
	
	width: 40em;
	
	/** lets center the div: http://stackoverflow.com/questions/17069435/center-fixed-div-with-dynamic-width-css*/
	top: 0;
	right: 0;
    left: 0;
	margin-right: auto;
    margin-left: auto;
}