body {display: inline-block;}	/* so the size of the popup matches the size of its content */

#errorNotification {
	display:none;
	text-align: center;
	color: darkred;
	font-size: 200%;
	white-space: nowrap;
	border-bottom: 2px inset darkred;
	margin: 0 0 1em 0;
	padding: 0.2em;
}

#errorNotification > * {margin: .2em;}

#errorNotification.active {display:inline-block;}

.button {
	text-align: center;
	color: black;
	white-space: nowrap;
	display: block;
	-webkit-transition: background-color .2s ease-in-out;
	border: 2px inset black;
	-webkit-border-radius: 0.4em;
	padding:.1em .2em;
}

.button:hover {
	background-color:#00ff00;
}

#onOffButton {
	font-size: 400%;
}

#onOffButton.ttsOn {background-color:#fff;}
#onOffButton.ttsOn:hover {background-color:#f00;}