body {
	margin: 0;
	font-family: sans-serif;
}

/* ===================================== left panel settings =====================================*/

#panel {
	height: 100%;
	/*background-color: #eee;*/
	background: -webkit-linear-gradient(left, #efefef, #efefef 98%, #888);
	float: left;
	position:fixed;
	border-right: 1px solid gray;
}

#panel h1 {
	font-size: 25px;
	margin: 0.5em;
}

#panel h2 {
	padding: 0.5em 1em;
	text-align: right;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

.optionsPageSelector {
	background-color: #fff;
}

/* ===================================== content settings =====================================*/

#content {
	margin: 0 0 0 360px;
}

.control {
	font-size: 30px;
	padding: 1em;
	border-bottom: 1px solid gray;
}

.control:hover {
	background-color:#F5F5F5;
}

/* ===================================== speed settings =====================================*/
#speedNumber {
	width: 2em;
	font-size: 30px;
}
#speedRange {
	width: 50%;
	-webkit-appearance: none;
	border-radius: 1px;
	background-color: #888;
	height: 3px;
	vertical-align: middle;
}

#speedRange::-webkit-slider-thumb {
	-webkit-appearance: none;
	border-radius: 60px;
	border: 1px solid gray;
	background-color: #eee;
	box-shadow:inset 0 0 4px #444;
	height: 30px;
	width: 30px;
}

#speedRange:hover::-webkit-slider-thumb {
	background-color: #0f0;
}

/* ===================================== start event settings =====================================*/
#starEventtList {
	list-style: none;
	margin: 0;
}

#starEventtList input,label:hover {
	background-color:#4f4;
}