<div class="setting hoverable">
	<div>{{selectionOptionsName}}</div>
	<ul class="choiceList singleChoiceList">
		<li ng-repeat="option in selectTypeOptions" ng-class="{selected: option.selected}" ng-click="onSelectTypeOptionClick(option)">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>
<div class="setting hoverable" ng-class="{unavailable: !highlightEventOptionsAvailable()}">
	<div>{{highlightOptionsName}}</div>
	<ul class="choiceList multipleChoiceList">
		<li ng-repeat="option in highlightEventOptions" ng-class="{selected: option.selected}" ng-click="onSelectEventOptionClick(option)">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>
<div class="setting hoverable">
	<div>{{readEventOptionsName}}</div>
	<ul class="choiceList multipleChoiceList">
		<li ng-repeat="option in readEventOptions" ng-class="{selected: option.selected}" ng-click="onReadEventOptionClick(option)">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>
<div class="setting hoverable" ng-class="{unavailable: !audioFeedbackOptionsAvailable()}">
	<div>{{audioFeedbackOptionsName}}</div>
	<ul class="choiceList multipleChoiceList">
		<li ng-repeat="option in audioFeedbackOptions" ng-class="{selected: option.selected}" ng-click="onAudioFeedbackOptionClick(option)">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>
