<div class="control hoverable" ng-controller="selectEventOptionsController">
	<div>Selection</div>
	<ul class="choiceList singleChoiceList">
		<li ng-repeat="option in selectEventOptions" ng-class="{selected: option.selected}" ng-click="onClick(option)" data-value="{{option.value}}">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>
<div class="control hoverable" ng-controller="readEventOptionsController">
	<div>Read Event</div>
	<ul class="choiceList multipleChoiceList">
		<li ng-repeat="option in readEventOptions" ng-class="{selected: option.selected}" ng-click="onClick(option)" data-value="{{option.value}}">
			<span>{{option.text}}</span>
		</li>
	</ul>
</div>