<ul class="nav-bar" ng-controller="navigationBarController">
	<li ng-class="{active:isActive('/general')}" ng-click="redirect('general')">
		<span>{{'generalOptionsPage' | translate}}</span>
	</li><li ng-class="{active:isActive('/reading')}" ng-click="redirect('reading')"><!-- 2 lis in the same line to remove space between-->
		<span>{{'readingOptionsPage' | translate}}</span>
	</li><li id="contactNavButton" ng-class="{active:isActive('/contact')}" ng-click="redirect('contact')"><!-- 2 lis in the same line to remove space between-->
		<span>{{'contactPage' | translate}}</span>
	</li>
</ul>
