<div class="setting hoverable">
	<div>{{'ttsOptions' | translate}}</div>
	<ul class="choiceList singleChoiceList">
		<li	ng-repeat="tts in ttsArr"
			class="{{tts.status}}"
			ng-class="{selected: tts.selected}"
			ng-click="onServiceOptionClick(tts)">
			<span>{{tts.name | translate}}</span>
		</li>
	</ul>
</div>
<div class="setting hoverable" ng-class="{unavailable: !isPropertyOfSelectedTts('speed')}">
	<div>{{'speedOptions' | translate}}</div>
	<input class="numberInput" type="number" min="{{speed.min}}" max="{{speed.max}}" step="{{speed.step}}" ng-model="speed.value" />
	<input class="rangeInput" type="range" min="{{speed.min}}" max="{{speed.max}}" step="{{speed.step}}" ng-model="speed.value" />
</div>
<div class="setting hoverable" ng-class="{unavailable: !isPropertyOfSelectedTts('gender')}">
	<div>{{'genderOptions' | translate}}</div>
	<ul class="choiceList singleChoiceList">
		<li	ng-repeat="gender in genderArr"
			ng-class="{selected: gender.selected}"
			ng-click="onGenderOptionClick(gender)">
			<span>{{gender.text | translate}}</span>
		</li>
	</ul>
</div>
